<div id="header" style='margin-bottom:10px;font-size:15px;font-weight:bold;'>
  Showing Event For <%= @github_id %>
</div><div id="body">
  <% @events.each do |event| %>
  	<div style='font-size:10px; border-bottom:1px solid #999;'>
	  	<div style="margin-bottom:5px;">
	  		EVENT TYPE : <%= event['type'] %>
	  	</div>
	  	<div style="margin-bottom:5px;">
	  		IS PUBLIC : <%= event['public'] %>
	  	</div>
	  	<div style="margin-bottom:5px;">
	  		REPO NAME : <%= parse_repo(event['repo']) %>
	  	</div>
	 </div>
  <% end %>
</div>